<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BugTracker</title>
    <link rel="stylesheet" href="https://bootswatch.com/sandstone/bootstrap.min.css">
    <link href="../Content/Custom/estilo-painel.css" rel="stylesheet" />
</head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href=@Url.Action("Home", "User")><img src="content/bug-128.png" class="logo" /></a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                    <ul class="nav navbar-nav">
                        <li><h3>Hello User <span class="sr-only">(current)</span></h3></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href=@Url.Action("account", "user") class="glyphicon glyphicon-user">  Your Account</a></li>
                        <li><a href=@Url.Action("download", "user") class="glyphicon glyphicon-save">  Download</a></li>
                        <li><a href=@Url.Action("documentation", "user") class="glyphicon glyphicon-duplicate">  Documentation</a></li>
                        <li><a href=@Url.Action() class="glyphicon glyphicon-log-out">  Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>

    <div>
        @RenderBody()
    </div>

    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

</body>
</html>