@model BugTracker.Domain.Entity.Application
@{
    ViewBag.Title = "Application Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-success col-md-12 box">
    <div class="panel-heading">
        <h4>@Html.DisplayFor(model => model.Title) (<span id="countBugs"></span>)</h4>
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Trace</th>
                    <th>Status</th>
                    <th>Occurred Date</th>
                    <th>Tags</th>
                    <th>Browser Name</th>
                    <th>Browser Version</th>
                    <th>Operation System</th>
                </tr>
            </thead>
            <tbody id="list-bug-tracks"></tbody>
        </table>
    </div>
</div>

@section scripts{
    <script>
        var idApplication = '@Model.IDApplication';
    </script>

    @Scripts.Render("~/bundles/application")
    
    <script>
        new BugTrackerView().init();
    </script>
}