
@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    ViewBag.Title = "BugTracker Forgot Password";
}

<h2>ForgotPassword</h2>

@using (Html.BeginForm("ForgotPassword", "UserRecovery", FormMethod.Post, new { @class = "form" }))
{

    <div class="alert alert-info">
        @TempData["Message"]
    </div>

    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>UserRecoveryViewModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label for="email" class="control-label col-md-2">Email</label>
            <div class="col-md-10">
                <input type="email" class="form-control" id="email" name="email" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Send" class="btn btn-default" />
            </div>
        </div>
    </div>
}

