@using Interface.Presentation.Services

@{
    ViewBag.Title = "Donwload";
}

<div class="row">
    <div class="panel panel-success col-md-11 box">
        <h2>Donwload</h2>
        @if (UserSessionService.IsLogged && UserSessionService.LoggedUser.AccountConfirmed)
        {
                <div>
                    @Html.ActionLink("Compressed Version 1.0.0 ", "DownloadLibrary", new { type = "compressed"})
                </div>

                <div>
                    @Html.ActionLink("Uncompressed Version 1.0.0 ", "DownloadLibrary", new { type = "uncompressed"})
                </div>
            
                <div class="alert alert-info">
                    <strong>Jquery is required.</strong>
                </div>
        }
        else
        {
            <div class="alert alert-danger">
                <strong>Not registred.</strong> 
            </div>
        }
    </div>
</div>